merge.txt
output
merge_code.py
.vscode
_2EF71E68B4AD97F630480BCEBC1842FB.data.minted
latexmkrc

pdfa.xmpi
thesis.acn
thesis.acr
thesis.alg
thasis.aux
thasis..glg878
thesis.glo
thesis.aux
thesis.bcf
thesis.glg
thesis.ist
thesis.gls
thesis.glsdefs
thesis.lst
thesis.log
thesis.run.xml
thesis.synctex.gz